* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: #f5f5f5;
    padding: 5% 20%;
    min-width: 600px;
}
.input-wrap>input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.task{
    display: flex;
    padding: 20px 40px 20px 20px;
    flex-flow: row wrap;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    background: #fbfbfb;
    margin-top: 10px;
    position: relative;
}
.checked {
    background: #e8ffe8;
}
.task-text{
    flex: 0 0 calc(100% - 3em);
    margin: 0 0 0 1em;
}

.task-checkbox{
    flex: 0 0 2em;
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.task-date{
    flex: 0 0 100%;
    text-align: right;
    color: #808080;
}

.remove-button{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    line-height: 32px;
    border-radius: 0 3px 0 3px;
    background: #F44336;
    color: #ffffff;
}
.remove-button:hover {
    background: #b92f26;
}